@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('/lib/bootstrap.css');
@import url('/shared/colors.css');
@import url('/shared/interface.css');

/* main */

html, body {
  height: 100%;
  color: #333333;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#main {
  padding: 50px 0 0 0;
  margin: 0 !important;
}

.underline {
  text-decoration: underline;
}

.modal {
  margin-top: 25vh;
}

/* groupeditor */

.sidebar-title {
  height: 25px;
  border-bottom: 1px solid lightgray;
  font-weight: bold;
  line-height: 25px;
  padding-left: 5px;
}

.sidebar-title > span {
  line-height: 25px;
  padding-right: 5px;
}

#sidebar {
  padding-right: 0;
  width: 175px;
  float:  left;
  margin-left: 15px;
}

#groups-holder {
  position: relative;
}

#close-button {
  height: 100%;
  position: absolute;
  width: 5px;
  background-color: darkgray;
  left: 0;
  overflow: hidden;
}

#close-button > span {
  top: calc(50vh - 25px)
}

#groups {
  padding-left: 15px;
  overflow-y: scroll;
}

.group {
  height: 200px;
  width: 175px;
  float: left;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px gray;
}

.group-footer {
  height: 30px;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
}

.drop-active {
  border: 2px dashed rgba(0, 0, 0, 0.2);;
}

.drop-possible {
  background-color: rgba(0, 0, 0, 0.1);
}

#add-group {
  position: absolute;
  right: 25px;
  top: calc(100vh - 70px);
}

#ghost {
  opacity: 0.5;
}

.list-group-item:first-child {
  border-top: 0 !important;
}

.start-session-form {
  padding: 10px;
}

#back-button {
  line-height: 50px;
}

.delete-group {
  line-height: 30px;
}

#end-session-button {
  position: absolute;
  right: 25px;
  top: 15px;
}

.session-link {
    display: inline-block;
    padding-left: 1em;
    color: blue;
};

/* teacher visualization */

div.graph-view {
    /*
    width: 100%;
    max-height: 25%;
    */
    padding: 1em;
    color: #000000;
}

div.linechart-y-label {
    display: inline-block;
    position: relative;
    top: 5em;
    left: -1em;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

canvas.linechart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.progress-view {
    width: 100%;
    height: auto%;
    padding: 1em;
    color: black;
}

div.group-progress-container {
    display: inline-block;
    margin-right: 1em;
}

div.group-progress-view {
    position: relative;
    left: 1.5em;
    top: -1.5em;

    background-color: #ffffff;

    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;

    border-width: 1px;
    border-style: solid;
    border-color: #dbdbdb;
    border-radius: 1em;
}


div.group-number {
    /* Small circle */
    width: 2em;
    height: 2em;

    /* Position at top left */
    position: relative;
    z-index: 1;

    text-align: center;
    vertical-align: middle;
    padding-top: 0.2em;
    font-size: x-large;

    background-color: #ffffff;
    
    border-radius: 50%;
    border-color: #dbdbdb;
    border-width: 1px;
    border-style: solid;
}


div.group-number-selected {
    color: white;
    background-color: purple;
}

/*
canvas.group-progress-canvas {
    position: relative;
    top: 1em;

}
*/


