@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

.frozen { opacity: 0.25; pointer-events: none; }
body{
  -webkit-backface-visibility: hidden;
  background-color: #eeeeee;
  transition: background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.logged-in{
  background-color: #298FCA;
}

html, body {
  overflow: hidden;
  height: 100%;
}
#app {
  height: 100%; width: 100%;
}
iframe {
  border: none; height: 100%; width: 100%; min-height: 100%;
}

.dim { opacity: 0.25; }

#classroom { transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
#apps { text-align: center; }
#instanceName {  text-align: center; opacity: 1 }
.selectedApp { display: inline-block }
.app { display: inline-block; opacity: 0.6; }
.app:hover { opacity: 1}
.app img {padding: 1em 2em 0em 2em}
.hoverlight {opacity: 0.75; transition: opacity 0.25s;}
.hoverlight:hover {opacity: 1}

/* source: http://creative-punch.net/2014/02/making-animated-radial-menu-css3-javascript/ */
.circular-menu  {
  pointer-events: none;
  width: 250px;
  height: 250px;
  right: -65px;
  top: -75px;
  z-index: 100;
  position: absolute;
}

.corner-shadow {
  opacity: 0.25;
  transition: 0.25s all;
  width: 400px;
  height: 500px;
  right: -400px;
  top: -425px;
  z-index: 99;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  box-shadow: -100px 100px 100px #000000;
}

.circle {
  width: 250px;
  height: 250px;
  opacity: 0;
  transition: all 0.25s ease-out;
}

.open.circle {
  opacity: 1;
}

.circle span {
  font-size: 40px;
  text-decoration: none;
  color: #fefefe;
  border: 3px #fefefe solid;
  border-radius: 50%;
  display: block;
  height: 75px;
  width: 75px;
  padding: 15px;
  position: absolute;
  text-align: center;

}

.menu-button {
  pointer-events: all;
  position: absolute;
  font-size: 40px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  border: 3px #fefefe solid;
  border-radius: 50%;
  display: block;
  height: 75px;
  width: 75px;
  padding: 10px;
  transition: opacity 0.25s;
}

.activated {
  background-color: #eef !important;
}

#statusbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 20px; /* correct  */
  line-height: 50px;
  background-color: #03354F;
  padding-left: 25px;
  z-index: 1;
}

#menu-icon {
  position: relative;
  top: 3px;
}

#menu-tray {
  position: absolute;
  padding: 0px;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 11px;
  border-bottom: 1px solid rgba(210,210,225,1);
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.4);
  margin-top: -8px;
  color: rgba(0,0,0,0.8);
  column-count: 2;
}

.menu-tray-block {
  vertical-align: top;
  margin-top: 15px;
  margin-left: 15px;
  display: inline-block;
  height: 125px;
  width: 125px;
}

.menu-tray-block-icon {
  position: relative;
  left: 33px;
  top: 15px;
}

.menu-tray-block-caption {
  position: relative;
  top: 10px;
  width: 125px;
  text-align: center;
}

#playback-slider {
  position: absolute;
  width: 80%;
  bottom: 15px;
  margin: 10%;
  margin-bottom: 0px;
  z-index: 1001;
}

#shield {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

.phase-marker {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 5px solid white;
  margin: 9px;
}

.active-phase {
  background-color: white;
}

.arrow {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-top: 9px;
  border-bottom: 5px white solid;
  border-left: 5px white solid;
}

.arrow-left {
  transform: scaleX(0.75) rotate(45deg);
}

.arrow-right {
  transform: scaleX(0.75) rotate(-135deg);
}

#root, .app-frame {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.phase-controls {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 9px;
} 
