@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";

body {
  overflow: hidden;
}

.appPanel {
  position: absolute;
  width: 1024px;
  height: 768px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  background-color: orange;
  border-width: 10px;
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.frameBlocker {
  position: absolute;
  height: 100%;
  width: 100%;
}
