* {
  /*cursor: none;*/
}

html, body {
  background-color: #555555 !important;
  overflow: hidden;
  height: 100%;
  padding: 0pt;
}

#app {
  min-height: 100%;
}

#root {
  margin-top: 50px;
  background-color: #;
}

.snippet {
  position: absolute;
  padding: 25px 50px 25px 50px;
  color: #333333;
  background-color: #fefefe;
  border-color: #111111;
  border-radius: 5px;
}
