html, body, .stretch {
  height: 100%;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  -webkit-user-select: none;
}

.modal {
  margin-top: 25vh;
}

.menu-body-holder {
  padding: 0;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-body-holder > .list-group {
  margin-bottom: 0;
}

.menu-body-holder > .list-group > div {
  border-left: 0;
  border-right: 0;
}

#visualizer {
  margin-top: 2em;
  color: #313e54;
  height: 100vh;
  opacity: 1;
  transition: opacity 0.25s;
}

.fade {
  opacity: 0;
  transition: opacity 0.25s;
}

#statusbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 20px; /* correct  */
  line-height: 50px;
  background-color: #03354F;
  padding-left: 25px;
}

#visualizerHolder {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

#sidebar {
  position: absolute;
  top: 50px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 225px;
  height: 100%;
  background-color: rgb(250, 250, 250);
  border-right: 1px solid rgb(210, 210, 225); /* border color */
  box-shadow: 1px 1px 1px lightgray;
}

#cards {
  position: absolute;
  top: 50px;
  left: 0;
  margin: 0;
  padding: 15px 30px 0px 30px;
  background-color: #E2E4E7;
  width: 100%;
  height: 100%;
  overflow-y: auto !important;
}


#student-header {
  padding-left: 25px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  border-bottom: 2px solid rgb(210, 210, 225); /* border color */
  font-weight: bold;
  background-color: #44968C;
}

#student-list {
  margin: 0;
  padding-left: 0;
}

.drop-active {
  background-color: darkgray !important;
}

.student-entry {
  z-index: 100;
  margin-right: -1px;
  border-right: 1px solid rgb(210, 210, 225);
  height: 50px;
  line-height: 50px;
  padding-left: 25px;
  border-bottom: 1px solid rgb(210, 210, 225);
  background: linear-gradient(to bottom, #ffffff 0%,#F8F8F8 100%);
}


.instance {
  position: relative;
  vertical-align: top;
  display: inline-block;
  height: 300px;
  width: 275px;
  margin-top: 5px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 5px;
  padding: 0px;
  border: 1px solid #D4D5D7;
  border-radius: 11px 2px 11px 11px;
  box-shadow: 1px 1px 3px #D4D5D7;
}

.instance-title {
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  background-color: #03354F;
  font-size: 16pt;
  height: 45px;
  line-height: 45px;
  border-radius: 11px 2px 0px 0px;
  border-bottom: 2px solid rgb(210, 210, 225);
}

.instance-title-editable {
  display: inline-block;
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.instance-title-editable:focus {
  outline: 0;
}

.instance-app-icon {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
  margin-right: 20px;
}

.instance-student-list {
  position: relative;
  -webkit-column-gap: 1px;
  -webkit-column-rule: 1px solid rgb(210, 210, 225);
  column-gap: 1px;
  column-rule: 1px solid rgb(210, 210, 225);
  margin: 0;
  padding: 0;
  margin-left: 1px;
  height: 207px;
  background-color: #F5F7F8;
}

.instance-footer {
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 0;
    height:45px;
    width: 100%;
    border-radius: 0px 0px 9px 9px;
    background-color: #D4D5D7;
    border-top: 1px solid rgb(210, 210, 225);
}

.instance-button {
  float: right;
  padding: 0;
  margin: 0;
  top: 50%;
  margin-top: 7px;
  margin-left: 15px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.add-instance-container {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.app-tray {
  color: black;
  z-index: 101;
  top: 60px;
  left: -19px;
  position: absolute;
  width: 300px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.4);
}

.app-selection {
  padding: 0;
  padding-left: 25px;
  border-bottom: 1px solid rgb(210, 210, 225);
}

.app-selection-icon {
  margin-right: 10px;
}

.triangle-border.top:before {
    top: -20px;
    bottom: auto;
    right: auto;
    left: 40px;
    border-width: 0 20px 20px;
}

.triangle-border.top:after {
    top: -20px;
    bottom: auto;
    right: auto;
    left: 40px;
    border-width: 0 20px 20px;
}
.triangle-border:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

#edit-toggle-holder {
  position: absolute;
  top: 10px;
  right: 6px;
  width: 150px;
  font-size: 20px;
  color: white;
}

#edit-toggle-holder div div {
  margin-left: 20px;
  display: inline-block;
}

.edit-toggle-active {
  border-bottom: 4px solid #E06B47;
}
