html, body, .stretch {
  height: 100%;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  -webkit-user-select: none;
  background-color: #E2E4E7;
}

.underline {
  text-decoration: underline;
}

.menu-holder > .panel-heading {
  background-color: #44968C !important;
  font-weight: bold !important;
}

.menu-holder > .panel-body {
  background-color: rgb(250, 250, 250);
}

.modal {
  margin-top: 25vh;
}

.call-to-action {
  text-align: center;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  font-size: 20px;
}

.menu-holder {
  margin-top: 10vh;
}

.menu-body-holder {
  padding: 0;
  height: 20vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-body-holder > .list-group {
  margin-bottom: 0;
}

.menu-body-holder > .list-group > div {
  border-left: 0;
  border-right: 0;
}
