.user-listing > div {
  margin: 3px 5px;
  padding: 3px 7px;
  border-radius: 3px;
  float: left;
  display: inline-block;
  font-size: 8pt;
}

.user-listing {
  margin-bottom: 1em;
}

.user-listing::after {
    content:"";
    display:block;
    clear:both;
}
