* {
  cursor: none;
}

html, body {
  background-color: #ffffff !important;
  overflow: hidden;
  height: 100%;
  padding: 0pt;
}

#app {
  min-height: 100%;
}

canvas {
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 50px;
}

#controls {
  position: absolute;
  -webkit-user-select: none;
  display: inline-block;
  z-index: 1;
  right: 20px;
  top: 6px;
}

.controlComponent {
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
  width: 48px;
  text-align: center;
}

.colorIndicator {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto;
}

.line {
  opacity: 0.75;
  background-color: black;
  width: 24px;
  margin: auto;
  border-radius: 90%;
}

.buttonLabel {
  color: white;
  opacity: 0.75;
}

.spacer {
  height: 18.5px;
}

.controlIcon {
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 20px;
}

.icon-select {
  height: 20px;
  margin-top: 10px;
}

#slidercontainer {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  position: absolute;
  right: 1.25vw;
  top: 5vh;
  background-color: rgba(0, 0, 0, 0.15);
  transform:  rotate(-90deg);
  transform-origin: right;
  width: 85vh;
  height: 40px;
}
#slider {
  -webkit-appearance: none;
  margin: 18px 0;
}
#slider:focus {
  outline: none;
}
#slider::-webkit-slider-runnable-track {
  height: 0px;
  background: #3071a9;
}

#slider::-webkit-slider-thumb {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
  opacity: 0;
}
#slider:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.cursor {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 0%;
  opacity: 0.5;
}

.my-cursor {
  border: 2px dashed white;
}

#pointers {
  position: absolute;
  width: 100%;
  top: 50px;
  height: 5000px;
  pointer-events: none;
}

.pointer {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0px 0px 10px white;
}
