@import url('/shared/interface.css');
@import url('/shared/loader.css');

html, body {
  overflow: hidden;
  user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

#main {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #999;
  overflow-x: auto;
}

#observerWrapper {
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#playback-controls {
    position: fixed;
    left: 2vw;
    bottom: 4vh;
    
    padding: 1em;
    border-radius: 0.5em;
    
    background-color: black;
    color: white;

    z-index: 100;
}

.playback-button-text {
    /*
    font-family: Arial;
    */
}

#playbackSeekBar {
    width: 100%;
    height: 0.5em;
    background-color: black;
    position: fixed;
    bottom: 0px;
}

#playbackElapsed {
    fill: #337ab7;
}

#playbackTime {
    margin-left: 1em;
    display: inline-flex;
}

#controls {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #053650;
  width: 100%;
  /*border-bottom: 1px solid black;*/
  line-height: 35px;
}

#controls span {
  position: absolute;
  font-size: 30px;
  line-height: 50px;
}

/*
#clear-screen {
  right: calc(8vw + 50px);
}
*/

.scroll-open > #controls > #minimap-chevron {
    right: 8vw;
}

.scroll-closed > #controls > #minimap-chevron {
    right: 1vw;
}

#tools {
  position: absolute;
  right: calc(8vw + 150px);
  top: 5px;
}

.tool-button {
  display: inline-block;
  top: calc(calc(50px - 40px) / 2);
  height: 40px;
  width: 40px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.color-swatch-holder, .mechanics-objects-holder, .options-holder {
  border: 2px solid white;
  height: 40px;
  width: 80px;
  border-radius: 4px;
  margin-left: -3em;
  text-align: center;
  z-index: 100;
}

.mech-obj-button {
    display: inline-block;
}

.tool-button > .color-swatch-holder {
  height: 40px;
}

.tray-closed {
  display: none;
}

.tray-open {
    position: relative;
  /*height: 80vh;*/
  /*width: 30vw;*/
  /*left: -15vw;*/
  background-color: rgba(0,0,0,0.5);
  background-clip: padding-box;
  border: 1em;
  border-style: solid;
  border-radius: 0.5em;
  border-color: rgba(0,0,0,0.5);
}

.selected {
  border: 2px solid black;
  border-radius: 2px;
}

.color-swatch, .pen-size {
  margin-left: 3px;
  margin-top: 3px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#pdf-container {
  padding: 0;
  padding-top: 52px;
  margin: 0;
}

.scroll-open > #pdf-container {
  /*width:90vw;*/
  width: 100%;
}

.scroll-closed > #pdf-container {
  width: 90vw;
  margin-left: calc(10vw / 2);
  margin-right: calc(10vw / 2);
}

.pdf-page-holder {
  box-sizing: content-box;
  display: block;
  width: 100%;
  position: relative;
  -webkit-user-select: none;
}

.pdf-page {
  width: 100%;
  /*border: 1px solid black;*/
}

.scroll-open > #pdf-container > .pdf-page-holder {
  border-right: 0;
  border-left: 0;
}

#pdf-container > .pdf-page-holder{
  margin-bottom: 4px;
}

#minimap > .pdf-page-holder {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 1px;
  pointer-events: none;
}

#minimap {
  padding: 0;
  margin: 0;
  top: 0;
  margin-top: 52px;
  position: fixed;
  right: 0;
  background-color: #ddd;
}

.scroll-open > #minimap {
  width: 10vw;
}

.scroll-closed > #minimap {
  width: 0vw;
  display: none;
}

.minimap-screen {
  width: 10vw;
  position: absolute;
  z-index: 100;
  border: 2px solid black;
}

#minimap-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.05;
  pointer-events: none;
}

.drawing-surface {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  transform-origin: 0 0;
}

.canvas-container {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
}

.eraser {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
}

.no-events {
  border: 2px solid gray;
  pointer-events: none;
}

.minimap-background {
  opacity: 0.4;
  height: 100%;
}

.tiny-page-marker-div {
    display: inline-block;
    position: absolute;
    margin-left: -1em;
}

.user-dot {
    font-size: medium;
    margin-bottom: -1.7em;
    padding: 0px;
}

#pen-color-indicator {
    font-size: large;
    margin-left: -2em;
    padding-top: 0.5em;
}

img.tool-icon {
    display: inline-block;
    height: 75%;
    
    /* Vertically center on the toolbar */
    position: relative;
    top: 50%;
    margin-top: -32px;
}

.tool-right {
    height: 75%;
    position: relative;
    top: 50%;
    margin-top: -18px;
    margin-right: 1em;
}

.name-text {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

/*/////////////////////////*/
div.toolbar {
    width: 100%;
    height 3em;
    background-color: #699;
}

div.work-surface {
    width: 100%;
}

div.page-container {
    width: 100%;
}

svg.scrollbar {
    position: absolute;
    right: 1em;
    top: 9vh; 
    height: 89vh;
    width: 20px;

    background-color: #f3f8fb;
    border-radius: 2em;
    border-width: 1px;
    border-color: #699;
    border-style: solid;
}


