#main {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #999;
}

#controls {
  position: absolute;
  height: 35px;
  background-color: #ddd;
  width: 100%;
  border-bottom: 1px solid gray;
}

#pdf-container {
  padding: 0;
  padding-top: 37px;
  margin: 0;
  position: absolute;
  transform-origin: 0 0;
}

.scroll-open > #pdf-container {
  width:90vw;
}

.scroll-closed > #pdf-container {
  width: 90vw;
  margin-left: calc(10vw / 2);
  margin-right: calc(10vw / 2);
}

.pdf-page-holder {
  box-sizing: content-box;
  display: block;
  width: 100%;
}

.pdf-page {
  width: 100%;
  border: 1px solid black;
}

.scroll-open > #pdf-container > .pdf-page-holder {
  border-right: 0;
  border-left: 0;
}

#pdf-container > .pdf-page-holder{
  margin-bottom: 8px;
}

#minimap > .pdf-page-holder {
  width: 96%;
  margin-left: 2%;
  margin-bottom: -3px;
  pointer-events: none;
}

#minimap {
  padding: 0;
  margin: 0;
  top: 0;
  margin-top: 37px;
  position: fixed;
  right: 0;
  background-color: #ddd;
}

.scroll-open > #minimap {
  width: 10vw;
}

.scroll-closed > #minimap {
  width: 0vw;
  display: none;
}

.minimap-screen {
  width: 10vw;
  position: absolute;
  background-color: blue;
  opacity: 0.2;
  z-index: 100;
}

#minimap-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.05;
  pointer-events: none;
}

.drawing-surface {
  position: absolute;
  width: 100%;
  height: 100%;
}
